[class=jumbotron] 
{
  	margin-left: 100px;
  	margin-right: 100px;
  	border-radius: 15px;
  	padding :10px;
  	padding-left: 30px;
  	padding-right: 30px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

[class=insideJumbotron] 
{
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}
